.info {
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(223, 157, 16, 0.1);
  width: 100%;
  max-width: 800px;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
}

/* LEFT TEXT */
.details {
  flex: 1;
}

.details h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #c40c7d;
}

.details p {
  font-size: 17px;
  color: rgb(124, 71, 2);
  margin: 8px 0;
}

/* RIGHT IMAGE */
.image {
  flex: 1;
}

.image img {
  width: 100%;
  max-height: 450px;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

/* BUTTON */
.linkedin-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #c2880a;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}

.linkedin-btn:hover {
  background: #171718;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .info {
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
  }
  .image img {
    order: 1;
    width: 100%;
  }
  .details{
    order: 2;
  }

  .details h1 {
    font-size: 11px;
    line-height: 1.5;
  }

  .details p {
    font-size: 10px;
    justify-items: start;
    line-height: 1.4;   /* 👈 readability improve */
    text-align: justify; /* 👈 clean alignment */
  }

}